body {
    user-select: none;
}

a {
    text-decoration:none;
}

/*页面标题组件样式 start*/
.title {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 7%;
    text-align: center;
    border-bottom: 2px solid #005dff;
    color: rgb(39, 37, 37);
    font-size: 32px;
    line-height: 66px;
    font-family: SimHei;
    font-weight: 600;
    opacity: 0.7;
    background-color: #fff;
}
/*页面标题组件样式 end*/

/*主页面三大父级组件样式 start*/
.leftBar {
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    left: 0;
    bottom: 0;
    width: 23%;
    height: 93%;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}

.map {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93%;
    text-align: center;
    font-size: 16px;
    background-color: #404040;
}

.rightBar {
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    right: 0;
    bottom: 0;
    width: 23%;
    height: 93%;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}
/*主页面三大父级组件样式 end*/

/*项目类型分布组件样式 start*/
.projectDistributionByType {
    position: absolute;
    width: 100%;
    height: 33%;
    top: 0;
    text-align: center;
    font-size: 16px;
}

.projectDistributionByType-title {
    position: relative;
    text-align: center;
    color: #0e0b01;
    top: 15px;
    font-size: 24px;
    line-height: 20px;
    font-family: SimHei;
    font-weight: 400;
}

.projectDistributionByType-chart {
    position: absolute;
    width: 100%;
    height: 88%;
    bottom: 0;
}

.dividingLine {
    position: absolute;
    width: 88%;
    height: 2px;
    left: 6%;
    bottom: 0;
    background-color: #005dff;
}
/*项目类型分布组件样式 end*/

/*项目区域分布组件样式 start*/
.projectDistributionByArea {
    position: absolute;
    width: 100%;
    height: 34%;
    top: 33%;
    text-align: center;
    font-size: 16px;
}

.projectDistributionByArea-title {
    position: relative;
    text-align: center;
    color: #0e0b01;
    top: 15px;
    font-size: 24px;
    line-height: 20px;
    font-family: SimHei;
    font-weight: 400;
}

.projectDistributionByArea-chart {
    position: absolute;
    width: 100%;
    height: 88%;
    bottom: 0;
}

.projectDistributionByArea-switch {
    position: absolute;
    cursor: pointer;
    right: 6%;
    top: 3%;
    font-size: 14px;
    line-height: 24px;
    font-family: SimHei;
    font-weight: 500;
    color: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 5px;
}

.dividingLine {
    position: absolute;
    width: 88%;
    height: 2px;
    left: 6%;
    bottom: 0;
    background-color: #005dff;
}
/*项目类型分布组件样式 end*/

/*近年项目数量情况组件样式 start*/
.projectDistributionByTime {
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    text-align: center;
    font-size: 16px;
}

.projectDistributionByTime-title {
    position: relative;
    text-align: center;
    color: #0e0b01;
    top: 15px;
    font-size: 24px;
    line-height: 20px;
    font-family: SimHei;
    font-weight: 400;
}

.projectDistributionByTime-chart {
    position: absolute;
    width: 100%;
    height: 88%;
    bottom: 0;
}
/*近年项目数量情况组件样式 end*/

/* 左侧功能栏标题样式 start */
.leftBarTitle {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: rgb(39, 37, 37);
    font-size: 26px;
    line-height: 66px;
    font-family: SimHei;
    font-weight: 500;
}
/* 左侧功能栏标题样式 end */

/* 项目列表样式 start */
/* .projectListBox-list {
    
} */
/* 项目列表样式 end */